@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@700&display=swap');

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    background-color: #B0A8B9;
    margin: 0;
    height: auto;
}

/* Header Styles and displays */
header {
    height: auto;
    max-width: 100%;
}  

#hero-text {
    font-family:'Dancing Script', sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
} 

.nav-style {
    border: 4px solid white;
    border-radius: 10px;
    padding: 2px;
}



/*hamburger menu taken from https://alvarotrigo.com/blog/hamburger-menu-css/ */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: #222020;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: 10vh;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.7em;
    color: white;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    color: white;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0); 
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  /* Photo Section Styles */

#photo-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  height: 30vh;
  background-image: url(../images/pexels-photo-67468.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  top:0px;
  left:0px;
  width: 100%;
}

#photo-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  border: 0;
}


.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  font-family: 'Dancing script', sans-serif;
  font-size: 1.3em;
  border: 7px solid black;
  border-radius: 15px;
  width: 40%;
  height: 60%;
  opacity: 0.4;
  background-color: gray;
  animation-name: boxslide;
  animation-duration: 3s;
}


#star {
  font-size: 1.7em;
}

@keyframes boxslide {
  from {
    margin-bottom: 500px;
  }

  to {
    margin: 0;
  }
}
  
/* About Section Styles */

#about {
    background-color: #222020;
    color: white;
    border: 3px solid black;
    margin : 0;
    height: auto;
    width: 100%;
}

#about h2{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    font-family: 'Dancing Script', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}


#about p {
    font-size: 1.3em;
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    padding: 0 10px;
}

/* Opening Times Section Styles */

#times {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#times h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
    border-bottom: 3px groove #222020;
}

#times ul {
    font-size: 1.3em;
    font-family: 'Cinzel', sans-serif;
    list-style: none;
    padding-right: 35px;
}

/* Map Section */

#map-text {
    font-family: 'Cinzel', sans-serif;
    font-size: 1.3em;
    padding: 0 10px;
}

#map-hero-text {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.3em;
}

#map-text-container {
    background-color:#222020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding-left: 15px;
}

#map-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#map {
    border: 3px solid #222020;
    max-width: 100%;
}

iframe {
    display: block;
    max-width: 100%;
}

     
/* Footer Styles And Displays */

footer {
    display: flex;
    flex-direction: column;
    background-color:#222020;
    border: 3px solid black;
    color: white;
    height: auto;
    width: 100%;
    margin: 0;
}


footer h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#media {
    display: flex;
   justify-content: space-around;
    
}

#media a {
    color: white;
}

#media li {
    font-size: 1.5em;
    list-style-type: none;
}

#contact {
    display: flex;
    justify-content: space-around;
}

#media li:hover {
    font-size: 250%;
}

#disclaimer {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-size: 1em;
}

/* Media Queries */

/* For Tablets and small desktop 992 pixels and down */

@media screen and (max-width: 992px) {
   body {
    font-size: 90%;
   }
   
   /* photo section */

   .heading-container > h2{
    font-size: 1.3em;
   }

}

/* For small tablets and medium phones 768 pixels and down*/

@media screen and (max-width: 768px) {
   body {
    font-size: 80%;
   }
 
/* hamburger button */

.menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 95px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
    overflow: visible;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid white;
    height: 2.5em;
    padding: 0.5em; 
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    padding-left: 0;
    padding-right: 0;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0; 
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid white;
  }

  /* about section */

 #about p {
   margin-left: 15px;
   margin-right: 15px;
 }

 /* photo section */

 #photos {
    height: 15vh;
 }

 .heading-container > h2{
  font-size: 1.2em;
  padding-left: 15px;
 }


/* footer */

#contact {
    flex-direction: column;
}

#media {
    padding-right: 25px;
}

}

/* For phones 600 pixels and down */

@media screen and (max-width: 600px) {
    #photos {
        height: 12vh;
    }

    .menu {
      margin-top: 85px;
    }
}

/* For small phones 450px and down */

@media screen and (max-width: 450px) {
  .heading-container {
    padding: 5px;
    margin: 5px;
    height: 50%;
  }

  .heading-container > h2{
    font-size: 0.9em;
   }
}

  
  
  
  
