body {
    background-color: #B0A8B9;
    margin: 0;
    height: 100%;
    width: auto;
}

/* Header Styles and displays */

header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    background-color: #222020;
    border: 3px solid black;
    color: white;
}


 header ul {
    display: flex;
     padding-right: 200px;
    padding-top: 75px;
    width: 100%;
    justify-content: space-around;
    font-size: 1.5em;
    list-style: none;
    font-family: 'Dancing script', sans-serif;
    color:white;
    letter-spacing: 4px;
    margin: 0;
    height: 100%;
    }

    

#hero-text {
    font-size: 1.4em;
    font-family: 'Dancing Script', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 2px solid white;
}

#home {
    border: 4px solid white;
    border-radius: 10px;
    padding: 2px;  
}

#menu {
    border: 4px solid white;
    border-radius: 10px;
    padding: 2px;
}

#book {
    border: 4px solid white;
    border-radius: 10px;
    padding: 2px;
}

/* About Section Styles */

#about {
    background-color: #222020;
    color: white;
    border: 3px solid black;
    margin : 0;
    height: 100%;
    width: 100%;
}

#about h2{
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    font-family: 'Dancing Script', sans-serif;
}


#about p {
    font-size: 1.2em;
    font-family: 'Cinzel', sans-serif;
    text-align: center;
}

/* Photo Section Styles */

#photos {
    display: flex;
    height: 100%;
    width: 100%
}

#photos > img {
    max-width: 100%;
    height: auto;
    width: 25%;
}

/* Opening Times Section Styles */

#times {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#times h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
    border-bottom: 3px groove #222020;
}

#times ul {
    font-size: 1.3em;
    font-family: 'Cinzel', sans-serif;
    list-style: none;
}

/* Map Section */

#map-text {
    font-family: 'Cinzel', sans-serif;
    font-size: 1.1em;
}

#map-hero-text {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.1em;
}

#map-text-wrapper {
    background-color:#222020;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#map-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;;
}

#map {
    border: 3px solid #222020;
}

     
/* Footer Styles And Displays */

footer {
    background-color:#222020;
    border: 3px solid black;
    color: white;
}


footer h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

#media {
    display: flex;
   justify-content: space-around;
    
}

#media li {
    font-size: 1.5em;
    list-style-type: none;
}

#contact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#media li:hover {
    font-size: 250%;
}

#disclaimer {
    align-content: center;
    font-family: 'Cinzel', sans-serif;
    font-size: 1em;
}

/* Form syles  */

#form-container {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

#form-hero-text {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.7em;
    
}

#form {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

input[type=text] {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
}

input[type=email] {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
}

select {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
}

input[type=submit] {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
    background-color:#222020;
    font-size: 1.7em;
    color: white;
}

label {
    font-size: 1.2em;
    font-family: 'Cinzel', sans-serif; 
}
/* menu styles */
#menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 40px solid #222020;
    border-radius: 20px;
    padding: 10px;
    margin: 40px;
}

#menu-container > b {
    font-size: 2.1em;
}

#menu-hero-text h1 {
    font-family: 'Dancing Script', sans-serif;
    padding-bottom: 20px;
    border-bottom: 3px dotted #222020;
}

#starter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid #222020;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
    width: 70%;
}

#starter-wrapper h2 {
    padding-bottom: 20px;
    margin-top: 0;
    font-family: 'Dancing Script', sans-serif;
    border-bottom: 3px dotted #222020;
}

.menu-items {
    font-family:'Cinzel', sans-serif; ;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid #222020;
    padding: 50px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: white;
    width: 70%;
}

#main-wrapper h2 {
    padding-bottom: 20px;
    margin-top: 0;
    font-family: 'Dancing Script', sans-serif;
    border-bottom: 3px dotted #222020;
}

#pizza-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid #222020;
    padding: 50px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: white;
    width: 70%;
}

#pizza-wrapper h2 {
    padding-bottom: 20px;
    margin-top: 0;
    font-family: 'Dancing Script', sans-serif;
    border-bottom: 3px dotted #222020;
}

#dessert-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid #222020;
    padding: 50px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: 70%;
}

#dessert-wrapper h2 {
    padding-bottom: 20px;
    margin-top: 0;
    font-family: 'Dancing Script', sans-serif;
    border-bottom: 3px dotted #222020;
}

/* Media Queries */

/* For Mobile */

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    
    header {
        flex-direction: column;
        justify-content: space-around;
    }
    
    header ul {
        justify-content: space-around;
    }

    #hero-text {
        align-self: center;
    }

   #map-wrapper {
    max-width: 100%
   } 


}
